@charset "UTF-8";

*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}

.l-in__content {
  width: 100%;
  max-width: 100%;
}

.l-in__head {
  margin: 0 auto;
  width: 90%;
  max-width: 1080px;
}

@media screen and (min-width: 901px) {
  .l-in__body {
    margin-top: 25px;
  }
}

@media screen and (max-width: 900px) {
  .l-in__body {
    margin-top: 8px;
  }
}

.p-chara .c-localnav {
  margin: 0 auto;
  width: 90%;
  max-width: 1080px;
}

@media screen and (min-width: 901px) {
  .p-chara .c-localnav {
    padding-bottom: 40px;
  }
}

.p-chara .c-localnav__list-item {
  font-family: YakuHanJP, "Teko", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック",
 YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.1;
}

@media screen and (max-width: 900px) {
  .p-chara .c-localnav__list-item {
    font-size: 20px;
    font-size: 5.35vw;
  }
}

.p-chara .c-localnav__list-item .p-in-txt {
  padding: 0 14px 6px;
}

@media (-ms-high-contrast: none) {
  .p-chara .c-localnav__list-item .p-in-txt {
    padding: 6px 14px 0;
  }
}

@media screen and (max-width: 900px) {
  .p-chara .c-localnav__list-item .p-in-txt {
    padding: 0 10px 4px;
  }
}

@media screen and (max-width: 900px) and (-ms-high-contrast: none) {
  .p-chara .c-localnav__list-item .p-in-txt {
    padding: 4px 10px 0;
  }
}

@media screen and (max-width: 900px) and (max-width: 300px) {
  .p-chara .c-localnav__list-item .p-in-txt {
    padding: 0 6px 2px;
  }
}

@media screen and (max-width: 900px) and (max-width: 300px) and (-ms-high-contrast: none) {
  .p-chara .c-localnav__list-item .p-in-txt {
    padding: 2px 6px 0;
  }
}

.character {
  position: relative;
  padding: 42px 0 0;
}

@media screen and (max-width: 900px) {
  .character {
    padding: 12px 0 25px;
  }
}

.character::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #2d9ee0;
  width: 0;
  height: 100%;
  pointer-events: none;
  content: "";
}

.character::after {
  -webkit-animation: curtain 1s cubic-bezier(0.77, 0, 0.175, 1) forwards 1s;
          animation: curtain 1s cubic-bezier(0.77, 0, 0.175, 1) forwards 1s;
}

.character{
	display: flex;
	justify-content: center;
	background: url(../../story-character/character/fond.png)center center no-repeat;
	width:100%;
	height:auto;
	align-items: center;
}

.nav-left{
	height:100%;
}
.icons img{
	height:90px;
	width:90px;
	margin: 15px;
	background-size:cover;
}
.character-info{
	color:#fff;
	font-size:18px;
	line-height:1.5;
	margin-left: 20px;
}
.character-info > img{
	margin-top: 60px;
}
.character-cloth{
	font-size:40px;
	font-weight:bold;
	line-height:40px;
	padding-left:10px;
	border-left:7px solid #00d6fe;
	margin-bottom:30px;
}
.character-info-content{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;-ms-flex-align:center;
	align-items:center;
}
.character-weapon{
	padding-right:20px;
	border-right:1px solid #fff;
	width:58px;
	height:66px;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
.character-description{
	padding-left: 20px;
}

@media screen and (min-width: 901px) {
  .nav-left{
	
  }
}

